<main class="edit-user">

<%= erb :flash %>

<section>
  <h1>Edit Account Settings</h1>

  <a href="/settings/<%= current_user.username %>">Back to Settings</a>

  <form action="/settings/<%= current_user.username %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Username: 
      <input type="text" 
             id="username" 
             name="credentials[username]" 
             value="<%= h @user_data[:username]%>">
    </label>

    <label>Email: 
      <input type="text" 
             id="email" 
             name="credentials[email]" 
             value="<%= h @user_data[:email] %>">
    </label>

    <label>Time Zone:
      <select id="user_time_zone" name="credentials[time_zone]">
        <% time_zones(@user_data[:time_zone]).each do |zone| %>
          <option value="<%= zone.value %>"
          <%= "disabled=\"disabled\"" if zone.disabled %>
          <%= "selected=\"selected\"" if zone.selected %>>
          <%= zone.label %>
          </option>
        <% end %>
      </select>
    </label>

    <label>Current Password: 
      <input type="password" id="password" name="current">
    </label>

    <label>New Password: 
      <input type="password" id="new_password" name="credentials[password]">
    </label>

    <label>Password Confirmation: 
      <input type="password" id="confirm" name="credentials[password_confirmation]">
    </label>

    <input name="edit" type="submit" value="Save Changes">
  </form>
</section>
</main>
