<main class="edit-queue">

<%= erb :flash %>

<section>
  <h1>Edit Your Queue</h1>
  <a href="/settings/<%= current_user.username %>">Back to Settings</a>
</section>

<section>
  <% if @queue %>
    <form action="/queue/<%= current_user.username %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">

      <div class="queue-edit-button">
        <input name="update" type="submit" value="Update Queue">
      </div>

      <div class="cards">
        <% @queue.each do |queue| %>
          <div class="card">
            <div class="card-image">
              <a href="https://unsplash.com/?photo=<%= queue.photo.unsplash_id %>" target="_blank">
                <img src="<%= queue.photo.thumb_url %>">
              </a>
            </div>
            <div class="card-header">
              Photo by<br>
              <a href="<%= queue.photo.photographer_link %>" target="_blank">
                <%= queue.photo.photographer_name %>
              </a>
            </div>
            <div class="card-copy">
              <a href="https://unsplash.com/?photo=<%= queue.photo.unsplash_id %>" target="_blank">
                View on Unsplash
              </a>
            </div>
            <div class="card-copy remove">
              <label>
                <input type="checkbox" id="queue<%= queue.id %>" 
                                       name="queue[]" value="<%= queue.id %>">
                                       Remove from Queue
              </label>
            </div>
          </div>
        <% end %>
      </div>

      <div class="queue-edit-button">
        <input name="update" type="submit" value="Update Queue">
      </div>
    </form>
</section>

<section>
  <form class="queue-delete-button" 
    method="post" action="/queue/<%= current_user.username %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Queue" id="delete-queue">
    <p>Warning!  Delete Queue will remove all photos from you queue.</p>
  </form>
</section>
  <% end %>

</main>

