<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="<%= stylesheet_path 'app' %>">
    <% if clear ||= nil %>
      <link rel="stylesheet" href="<%= stylesheet_path 'clear' %>">
    <% elsif bookmark ||= nil %>
      <link rel="stylesheet" href="<%= stylesheet_path 'bookmark' %>">
    <% end %>
    <title>Photo Vistas</title>
  </head>
  <body>
    <div class="container">
      <%= erb :nav %>

      <%= yield %>

      <%= erb :footer %>
    </div>
  </body>
</html
